{% extends 'base.html' %}

{% block title %} My blog {% endblock title %}

{% block content %}
    
    {% for item in object_list %}
        <div class="card" style="width: auto;">
            <div class="card-body">
            <h4 class="card-title"><a href="{% url 'post_detail' item.pk %}">{{ item.title }}</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.author }}</h6>
            <p class="card-text">{{ item.body }}</p>
            <a href="{% url 'post_edit' item.pk%}" class="card-link">Edit post</a>
            </div>
        </div>

    {% endfor %}

{% endblock content %}